html {
  scroll-behavior: smooth;
}

body {
  background: black;
  background-size: 100%;
}

.navbar {
  display: flex;
  justify-content: center;
  gap: 2rem;
  font-size: 13px;
  color: white;
  font-family: "Lumanosimo", cursive;
  position: sticky;
  top: 10px;
  background: lightslategray;
  border-radius: 100px;
  border: black 5px ridge;
  margin: auto;
  width: 600px;
  margin-top: 30px;
}

.name {
  color: white;
  font-family: "Lumanosimo", cursive;
  text-align: left;
  margin-top: 150px;
  font-size: 3rem;
  transition: 0.2s;
}

.icons {
  display: flex;
  gap: 20px;
  margin-top: 1rem;
}

#title {
  margin-top: 0;
  font-size: 1.5rem;
  animation: skew 3s infinite;
  animation-direction: alternate;
}

@keyframes skew {
  0% {
    transform: skewX(20deg);
    color: brown;
  }
  100% {
    transform: skewX(-20deg);
    color: lightcoral;
  }
}

.nameTitle {
  display: flex;
  position: sticky;
  top: 0;
  flex-direction: column;
  padding-left: 5rem;
}

#name:hover {
  transform: scale(1.5);
  cursor: default;
}

.container {
  color: white;
  justify-content: right;
  margin-left: 100px;
  margin-top: 20px;
  width: 50%;
}

.combine {
  display: flex;
}

.containerHeader {
  text-decoration: underline wavy;
  color: #cbc3e3;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

#aboutnav {
  margin-bottom: 5rem;
}

#about {
  text-decoration: underline wavy;
  color: #cbc3e3;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

#projectsnav {
  height: 5rem;
}

#projects {
  text-align: center;
  justify-content: center;
}

#contactnav {
  height: 5rem;
}

#contact {
  text-decoration: underline wavy;
  color: #cbc3e3;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.navbar a {
  text-decoration: none;
  color: white;
}

.navbar a:visited {
  color: white;
}

.navbar h1:active {
  animation: rotate 0.1s 1;
}

.navbar a:hover {
  transition-duration: 1s;
  color: #cbc3e3;
}

@keyframes rotate {
  0% {
    transform: rotate(120deg);
    color: brown;
  }
  50% {
    transform: rotate(240deg);
  }
  100% {
    transform: rotate(360deg);
    color: lightcoral;
  }
}

.aboutText {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
}

#tech {
  display: flex;
  justify-content: center;
}

.techIcons {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.workedWith:hover {
  transform: scale(1.5);
}

footer {
  color: white;
  display: flex;
  justify-content: center;
}

.gif {
  height: 250px;
  width: auto;
  margin-top: 20px;
  border-radius: 20px;
}

.projectButtons {
  text-decoration: none;
  color: white;
  margin: 20px;
  border: #cbc3e3 dotted 3px;
  font-size: 25px;
  padding: 10px;
  border-radius: 10px;
}

.projectButtons:visited {
  color: white;
}

.projectButtons:hover {
  background-color: #cbc3e3;
}

.etch {
  margin-bottom: 20px;
}

#rock {
  margin-top: 200px;
}

#calculatorGif {
  margin-top: 200px;
}

.rain {
  position: absolute;
  animation: rain 5s;
  height: 500px;
  width: 74px;
  top: -600px;
}

@keyframes rain {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(3000px);
  }
}
