body {
  background: black;
  background-size: 100%;
}

.navbar {
  display: flex;
  justify-content: center;
  gap: 2rem;
  font-size: 13px;
  color: white;
  font-family: "Lumanosimo", cursive;
}

.name {
  color: white;
  font-family: "Lumanosimo", cursive;
  display: flex;
  text-align: left;
  margin-top: 150px;
  padding-left: 5rem;
  font-size: 3rem;
  transition: 0.2s;
}

#title {
  margin-top: 0;
  font-size: 1.5rem;
  animation: skew 3s infinite;
  animation-direction: alternate;
}

@keyframes skew {
  0% {
    transform: skewX(20deg);
    color: brown;
  }
  100% {
    transform: skewX(-20deg);
    color: lightcoral;
  }
}

.header {
  display: flex;
}

#name:hover {
  transform: scale(1.5);
  cursor: default;
}
