body {
  background: black;
  background-size: 100%;
}

.navbar {
  display: flex;
  justify-content: center;
  gap: 2rem;
  font-size: 13px;
  color: white;
  font-family: "Lumanosimo", cursive;
}

.name {
  color: white;
  font-family: "Lumanosimo", cursive;
  display: flex;
  text-align: left;
  padding-top: 150px;
  padding-left: 5rem;
  font-size: 2.5rem;
}

#title {
  padding-top: 0;
  font-size: 1.5rem;
  animation: skew 3s infinite;
  animation-direction: alternate;
}

@keyframes skew {
  0% {
    transform: skewX(20deg);
    color: brown;
  }
  100% {
    transform: skewX(-20deg);
    color: lightcoral;
  }
}

.navbar a {
  text-decoration: none;
}

.navbar a:visited {
  color: white;
}

.navbar h1:active {
  animation: rotate 0.1s 1;
}

@keyframes rotate {
  0% {
    transform: rotate(120deg);
    color: brown;
  }
  50% {
    transform: rotate(240deg);
  }
  100% {
    transform: rotate(360deg);
    color: lightcoral;
  }
}

.navbar a:hover {
  transition-duration: 1s;
  color: #cbc3e3;
}
